{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header">
      <h1>About the project</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
          <p>The electricity crisis in South Africa has necessitated rotational load shedding in order to avoid
              a total power collapse. Load shedding schedules have been provided to inform the public of the planned
                times for load shedding. No research has been conducted into the usability of these schedules. </p>

          <p>This study aims to investigate aspects affecting the usability of load shedding schedules. To this end, 5 schedules have been created which each test various aspects revealed by research to play a role in the usability of web based systems. The location and time information for the schedules is accurate and retrieved from the City of Cape Town. <strong>For experimental purposes, the load-shedding status information is not accurate or representative of the current stage of load-shedding.</strong> </p>

          <p>This study is conducted by Douglas Parry, an honours student in Socio-Informatics at Stellenbosch University, under the supervision of Ms Carianne Cowley.</p>

          <p>If you have any further questions or queries feel free to contact the researcher at: <br /> <br />16700090@sun.ac.za</p>
        </div>
    </div>
</div>

{% endblock %}



