{% extends 'base.html' %}

{% block content %}

    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <h1>Testing Loadshedding Schedules</h1>
        <p>This study aims to investigate aspects affecting the usability of various techniques for displaying load shedding schedules, in order to determine how to improve the displaying of load shedding schedules. <strong>For experimental purposes, the load-shedding status information is not accurate or representative of the current stage of load-shedding.</strong></p>
        <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Schedule 1</h2>
          <p><a class="btn btn-default" href="schedule1" role="button">View schedule &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Schedule 2</h2>
          <p><a class="btn btn-default" href="schedule2" role="button">View schedule &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Schedule 3</h2>
          <p><a class="btn btn-default" href="schedule3" role="button">View schedule &raquo;</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Schedule 4</h2>
          <p><a class="btn btn-default" href="schedule4" role="button">View schedule &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Schedule 5</h2>
          <p><a class="btn btn-default" href="schedule5" role="button">View schedule &raquo;</a></p>
       </div>
      </div>

    </div> <!-- /container -->

{% endblock %}